KIND_CLUSTER_NAME=arch-review
KIND_CONFIG=ops/kind-config.yml

APP_IMAGE_NAME=arch-review-image
APP_IMAGE_TAG=dev

PULUMI_BUCKET_NAME=pulumi-data

AWS_ACCESS_KEY_ID=rustfsadmin
AWS_SECRET_ACCESS_KEY=rustfsadmin
AWS_REGION=us-east-1